* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}

body {
  background-image:linear-gradient(to right, rgba(2, 2, 90, 0.4),rgba(2, 2, 90, 0.4)), url(assets/pexels-maxyne-barcel-10402282\ 1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}
/* ------------------------------ */
/* ---------- NAVBAR ------------ */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 0px 50px;
}

.list {
  list-style: none;
  display: flex;
  gap: 60px;
  color: #FFC233;
}

.list-item::after{
  content: '';
  width: 0px;
  height: 3px;
  background-color: #fcb81b;
  margin: auto;
  display: block;

}

.list-item:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.list-item:hover {
  cursor: pointer;
}

.button-small {
  background-color: #ff6572;
  color: #ffffff;
  border: none;
  height: 38px;
  width: 100px;
  cursor: pointer;
}
/* ------------------------------ */

/* ------------------------------ */
/* ---------- HERO ------------ */

.hero-heading {
  font-size: 5rem;
  font-weight: 400;
  color:#ffbd23;
  line-height: 95px;
  width: 75%;
  margin: auto;
  text-align: center;
  font-family: "Dela Gothic One", sans-serif;
}

.button-large {
  background-color: #fd5b68;
  color: #ffffff;
  border: none;
  height: 60px;
  width: 230px;
  font-weight: bold;
  word-spacing: 5px;
  font-size: large;
  cursor: pointer;
  display: block;
  margin: 56px auto;

}

.bottom {
  position: absolute;
  top: 70%;
  left: 80%;
}
/* ------------------------------ */
